---
// Style Imports
import { ReactCounter } from '../components/nanostores/ReactCounter';
import { SolidCounter } from '../components/nanostores/SolidCounter';
import '../styles/global.css';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/tij0xuz.css">
	</head>
	<body>
		<main class="mb-24 relative">
			<div class="bg-[#201d29] top-0 absolute w-full -z-10 h-[420px] flex flex-col items-center justify-center"></div>
			<div class="container max-w-4xl mx-auto text-amber-50/80 pt-20">
				<a href="../" class="flex gap-1 items-center">
					<svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15 18L9 12L15 6"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
					Back
				</a>
			</div>
			<div class="pb-8 flex justify-center">
				<h1 class="font-bold leading-normal text-center font-quicksand text-5xl text-transparent bg-clip-text bg-gradient-to-r from-[#ff87d4] via-[#ffe742] to-[#87fffb]">Nanostores + Query</h1>
			</div>


			<div class="container mx-auto text-[#201d29] px-4 mt-12 max-w-4xl flex gap-8">
				<ReactCounter client:only="react" />
				<SolidCounter client:only="solid" />
			</div>
		</main>
	</body>
</html>
